/.idea/
/arquillian/embeddedGreeting/.idea/
/arquillian/embeddedGreeting/.settings/
/arquillian/profiledGreeting/.idea/
/arquillian/profiledGreeting/.settings/
/junit/annotations/.idea/
/junit/assertions/.idea/
/junit/extending/.idea/
/robotFramework/.idea/
